# --- General Config ---
APP_GENERAL_ENV=development
APP_GENERAL_TZ=America/Sao_Paulo

# --- Logger Config ---
APP_LOGGER_LEVEL="debug"

# --- Server Config ---
APP_SERVER_API_HOST=0.0.0.0
APP_SERVER_API_PORT=8080
APP_SERVER_API_RATE_LIMIT=100
APP_SERVER_API_READ_TIMEOUT=5s
APP_SERVER_API_WRITE_TIMEOUT=10s
APP_SERVER_API_IDLE_TIMEOUT=120s
APP_SERVER_API_MAXBODYSIZE=1048576

# --- CORS Config ---
APP_SERVER_CORS_ALLOWEDORIGINS="http://localhost:3000,http://127.0.0.1:3000"
APP_SERVER_CORS_ALLOWEDMETHODS="GET,POST,PUT,DELETE,OPTIONS"
APP_SERVER_CORS_ALLOWEDHEADERS="Accept,Authorization,Content-Type,X-CSRF-Token"
APP_SERVER_CORS_EXPOSEDHEADERS="Link"
APP_SERVER_CORS_ALLOWCREDENTIALS=true

# --- Resilience Config ---
APP_RESILIENCE_RETRY_MAX_ATTEMPTS=3
APP_RESILIENCE_RETRY_INITIAL_BACKOFF=100ms
APP_RESILIENCE_RETRY_MAX_BACKOFF=2s
APP_RESILIENCE_BREAKER_MAX_FAILURES=5
APP_RESILIENCE_BREAKER_TIMEOUT=30s

# --- Clients Config ---
APP_CLIENTS_WEATHERAPI_URL="http://api.weatherapi.com/v1"
APP_CLIENTS_WEATHERAPI_KEY="SUA_CHAVE_API_AQUI"
