# --- General Config ---
APP_ENV=development
APP_TZ=America/Sao_Paulo

# --- Logger Config ---
APP_LOGGER_LEVEL="debug"

# --- Server Config ---
APP_API_HOST=0.0.0.0
APP_API_PORT=8080
APP_API_RATE_LIMIT=100
APP_API_READ_TIMEOUT=5s
APP_API_WRITE_TIMEOUT=10s
APP_API_IDLE_TIMEOUT=120s
APP_API_MAXBODYSIZE=1048576

# --- CORS Config ---
APP_CORS_ALLOWEDORIGINS="http://localhost:3000,http://127.0.0.1:3000"
APP_CORS_ALLOWEDMETHODS="GET,POST,PUT,DELETE,OPTIONS"
APP_CORS_ALLOWEDHEADERS="Accept,Authorization,Content-Type,X-CSRF-Token"
APP_CORS_EXPOSEDHEADERS="Link"
APP_CORS_ALLOWCREDENTIALS=true

# --- weatherapi.com ---
WEATHER_API_KEY=CHAVE_DA_API_AQUI
WEATHER_API_URL=
